###############################################################################
#                          Generated on phpdocker.io                          #
###############################################################################
version: "3.7"

# Settings and configurations that are common for all containers
x-minio-common: &minio-common
  image: quay.io/minio/minio:RELEASE.2021-10-02T16-31-05Z
  command: server --console-address ":9011" http://minio{1...4}/data{1...2}
  expose:
    - "9010"
    - "9011"
  environment:
    MINIO_ROOT_USER: minio
    MINIO_ROOT_PASSWORD: minio123
  healthcheck:
    test: ["CMD", "curl", "-f", "http://localhost:9010/minio/health/live"]
    interval: 30s
    timeout: 20s
    retries: 3


services:

  blackfire_agent:
    image: blackfire/blackfire:2
    ports: [ "${BLACKFIRE_PORT}" ]
    environment:
      BLACKFIRE_SERVER_ID: ${BLACKFIRE_SERVER_ID}
      BLACKFIRE_SERVER_TOKEN: ${BLACKFIRE_SERVER_TOKEN}
      BLACKFIRE_CLIENT_ID: ${BLACKFIRE_CLIENT_ID}
      BLACKFIRE_CLIENT_TOKEN: ${BLACKFIRE_CLIENT_TOKEN}
      BLACKFIRE_LOG_LEVEL: ${BLACKFIRE_LOG_LEVEL}
      BLACKFIRE_DISABLE_LEGACY_PORT: 1
    networks:
      - node_net

  memcached:
    env_file: .env.local
    image: memcached:alpine
    container_name: ${CONTAIN_NAME}memcached

  mysql:
    env_file: .env.local
    image: mysql:latest
    container_name: ${CONTAIN_NAME}mysql
    working_dir: /application
    volumes:
      - ./phpdocker/data/mysql/db:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=${MY_DB_ROOT_PWD}
      - MYSQL_DATABASE=${MY_DB_NAME}
      - MYSQL_USER=${MY_DB_USER}
      - MYSQL_PASSWORD=${MY_DB_PWD}
    ports:
      - "${PORT_HOST_MYSQL}:3306"
    networks:
      - node_net


  phpmyadmin:
    env_file: .env.local
    image: phpmyadmin/phpmyadmin
    container_name: ${CONTAIN_NAME}phpmyadmin
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
    ports:
      - "0.0.0.0:${PORT_HOST_PMA}:80"
    links:
      - mysql
    depends_on:
      - mysql
    networks:
      - node_net

  webserver:
    env_file: .env.local
    image: nginx:alpine
    container_name: ${CONTAIN_NAME}webserver
    working_dir: /application
    volumes:
      - .:/application
      - ./phpdocker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "${PORT_HOST_APACHE}:80"
    networks:
      - node_net

  php-fpm:
    env_file: .env.local
    build:
      context: ./phpdocker/php-fpm
      dockerfile: Dockerfile
    environment:
      BLACKFIRE_AGENT_SOCKET: "tcp://blackfire_agent:${BLACKFIRE_PORT}"
      BLACKFIRE_SERVER_ID: ${BLACKFIRE_SERVER_ID}
      BLACKFIRE_SERVER_TOKEN: ${BLACKFIRE_SERVER_TOKEN}
      BLACKFIRE_CLIENT_ID: ${BLACKFIRE_CLIENT_ID}
      BLACKFIRE_CLIENT_TOKEN: ${BLACKFIRE_CLIENT_TOKEN}
      BLACKFIRE_LOG_LEVEL: ${BLACKFIRE_LOG_LEVEL}
      BLACKFIRE_PORT: ${BLACKFIRE_PORT}
      BLACKFIRE_DISABLE_LEGACY_PORT: 1
      PHP_INI_DIR: /etc/php/8.0/fpm/conf.d/
    container_name: ${CONTAIN_NAME}php-fpm
    working_dir: /application
    volumes:
      - .:/application
      - ./phpdocker/php-fpm/php-ini-overrides.ini:/etc/php/8.0/fpm/conf.d/99-overrides.ini
      - ./phpdocker/nginx/zz-blackfire.ini:/etc/nginx/conf.d/zz-blackfire.ini
    networks:
      - node_net

  redis:
    image: redis:alpine
    command: redis-server --requirepass sOmE_sEcUrE_pAsS
    ports:
      - "${PORT_HOST_redis}:6379"
    volumes:
      - ./application/redis-data:/var/lib/redis
      - ./application/redis.conf:/usr/local/etc/redis/redis.conf
    environment:
      - REDIS_REPLICATION_MODE=master
    networks:
      - node_net

  minio1:
    <<: *minio-common
    hostname: minio1
    volumes:
      - data1-1:/data1
      - data1-2:/data2
    networks:
      - node_net

  minio2:
    <<: *minio-common
    hostname: minio2
    volumes:
      - data2-1:/data1
      - data2-2:/data2
    networks:
      - node_net

  minio3:
    <<: *minio-common
    hostname: minio3
    volumes:
      - data3-1:/data1
      - data3-2:/data2
    networks:
      - node_net

  minio4:
    <<: *minio-common
    hostname: minio4
    volumes:
      - data4-1:/data1
      - data4-2:/data2
    networks:
      - node_net

  nginx:
    image: nginx:1.19.2-alpine
    hostname: nginx
    volumes:
      - ./phpdocker/nginx/nginx_minio.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "9010:9010"
      - "9011:9011"
    depends_on:
      - minio1
#      - minio2
#      - minio3
#      - minio4
    networks:
      - node_net

## By default this config uses default local driver,
## For custom volumes replace with volume driver configuration.
volumes:
  data1-1:
  data1-2:
  data2-1:
  data2-2:
  data3-1:
  data3-2:
  data4-1:
  data4-2:

# networking for the Redis container
networks:
  node_net:
    ipam:
      driver: default
      config:
        - subnet: 172.28.0.0/16
